<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="normalize.css">
    <title>Prueba</title>
</head>
<body>
<h1>Esta sera nuestra pagina</h1>
    
<h2>
    Vamos a escribir aqui algo raro
</h2>

<section>
    <h3>Primera sección</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, voluptatum nemo! Distinctio earum sapiente cupiditate aliquid? Ea dolore, necessitatibus, illo minima accusamus aliquid quos itaque tenetur magni voluptatum quae dolores.</p>
</section>

<section>
    <h3>segundo parrafo</h3>
    <p class = "parrafo-destacado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquam vitae nostrum alias nihil numquam maiores accusamus enim distinctio rerum. Est dignissimos tempora vel beatae possimus consequuntur fugit exercitationem neque!</p>
</section>

    
</body>
</html>